:host {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  min-width: 350px;
  max-width: 95%;

  &:not(:first-child) {
    margin-top: 24px;
  }
}
